oldsatire/*
pysvml/*
svml/*
stanfordnlp/*
*.csv
rawdata/cnntxts/*
rawdata/oniontxts/*
annotated/cnntxts/*
annotated/oniontxts/*
*.gz
wordrep/*
vecdis/tokened/*
vecdis/tokened_head/*
vecdis/vectorized/*
vecdis/vectorized_head/*
*.data
*.png
*.txt
notes/*
*.o
*.dat
*.bin
*.zip
