oldsatire/*
pyexamples/*
svml/*
stanfordnlp/*
*.csv
rawdata/cnntxts/*
rawdata/oniontxts/*
annotated/cnntxts/*
annotated/oniontxts/*
*.tar.gz
wordrep/*
vecdis/tokened/*
vecdis/tokened_head/*
vecdis/vectorized/*
vecdis/vectorized_head/*
*.data
*.png
*.txt
notes/*
*.o

